In [1]:
import pandas as pd

In [2]:
# Open data into a DataFrame using Pandas
# The original file has no header
df = pd.read_csv("TM_gnomad_nonPatho_missense.csv", sep=",", header=0)
df = df [["Gene(s)", "position", "initial_aa", "final_aa", "Transmembrane_Regions_new", "Pfam_code"]]
df

,Gene(s),position,initial_aa,final_aa,Transmembrane_Regions_new,Pfam_code
0,TNFRSF4,229.0,Gly,Gly,"[['215', '235']]",PF00020
1,TNFRSF4,228.0,Leu,Leu,"[['215', '235']]",PF00020
2,TNFRSF4,226.0,Gly,Ala,"[['215', '235']]",PF00020
3,TNFRSF4,223.0,Leu,Pro,"[['215', '235']]",PF00020
4,TNFRSF4,223.0,Leu,Val,"[['215', '235']]",PF00020
...,...,...,...,...,...,...
45968,PLXNA3,1238.0,Val,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45969,PLXNA3,1241.0,Ala,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45970,PLXNA3,1241.0,Ala,Ala,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45971,CLIC2,41.0,Trp,Ser,"[['32', '52']]",PF13409
45972,CLIC2,40.0,Leu,Leu,"[['32', '52']]",PF13409

In [3]:
# Function imported from: https://chem-workflows.com/articles/2019/10/29/retrieve-uniprot-data-using-python/
# pip install beautifulsoup4
import urllib
from bs4 import BeautifulSoup

def get_uniprot (query='',query_type='ACC'):
    #query_type must be: "PDB_ID" or "ACC"
    url = 'https://www.uniprot.org/uploadlists/' #This is the webser to retrieve the Uniprot data
    params = {
    'from':query_type,
    'to':'ACC',
    'format':'txt',
    'query':query,
    'taxon':'9606'
    }

    data = urllib.parse.urlencode(params)
    data = data.encode('ascii')
    request = urllib.request.Request(url, data)
    with urllib.request.urlopen(request) as response:
        res = response.read()
        page=BeautifulSoup(res).get_text()
        page=page.splitlines()
    return page

In [4]:
GN = []
for UniProtKB_GN in df['Gene(s)']:
    GN.append(UniProtKB_GN)
res = []
[res.append(x) for x in GN if x not in res]
print(res)

['TNFRSF4', 'B3GALT6', 'MXRA8', 'ATAD3A', 'TMEM240', 'GPR153', 'SLC45A1', 'UBIAD1', 'MFN2', 'EPHA2', 'ATP13A2', 'UBR4', 'EMC1', 'PINK1', 'DDOST', 'ECE1', 'EPHB2', 'SLC30A2', 'PIGV', 'SLC9A1', 'TMEM222', 'PTPRU', 'ADGRB2', 'GJB4', 'GJB3', 'GJA4', 'CSF3R', 'ZMPSTE24', 'KCNQ4', 'CLDN19', 'SLC2A1', 'TIE1', 'MPL', 'ELOVL1', 'ST3GAL3', 'SLC6A9', 'DHCR24', 'BSND', 'TACSTD2', 'ALG6', 'ROR1', 'LEPR', 'SLC35D1', 'PIGK', 'HS2ST1', 'ABCA4', 'SLC35A3', 'SLC30A7', 'SLC25A24', 'CLCC1', 'CELSR2', 'SLC6A17', 'KCNA2', 'DRAM2', 'KCND3', 'SLC16A1', 'LRIG2', 'VANGL1', 'ATP1A1', 'HSD3B2', 'NOTCH2', 'GJA5', 'GJA8', 'IL6R', 'CHRNB2', 'KCNN3', 'DPM3', 'SEMA4A', 'NTRK1', 'KIRREL1', 'CADM3', 'PIGM', 'KCNJ10', 'ATP1A2', 'NCSTN', 'NECTIN4', 'MPZ', 'SDHC', 'ATF6', 'DDR2', 'ILDR2', 'CD247', 'GPR161', 'SLC19A2', 'FMO3', 'FASLG', 'ASTN1', 'TOR1AIP1', 'XPR1', 'MR1', 'CACNA1E', 'KCNT2', 'CRB1', 'CACNA1S', 'SYT2', 'NFASC', 'SLC41A1', 'CR2', 'CD46', 'PLXNA2', 'SYT14', 'HHAT', 'KCNH1', 'FLVCR1', 'USH2A', 'SLC30A10', 'DEGS1', 'LBR', 'TMEM63A', 'PSEN2', 'COQ8A', 'GJC2', 'GALNT2', 'ARV1', 'B3GALNT2', 'RYR2', 'CHRM3', 'TPO', 'ADAM17', 'KCNF1', 'SELENOI', 'OTOF', 'KCNK3', 'SLC5A6', 'MPV17', 'ALK', 'SRD5A2', 'ABCG8', 'SLC3A1', 'PIGF', 'EPCAM', 'FSHR', 'PEX13', 'SLC1A4', 'PROKR1', 'ANTXR1', 'DYSF', 'MOGS', 'HTRA2', 'GGCX', 'ST3GAL5', 'REEP1', 'CD8A', 'EIF2AK3', 'LMAN2L', 'CNNM4', 'CNGA3', 'SLC5A7', 'MERTK', 'TMEM87B', 'SMPD4', 'LCT', 'ACVR1', 'ITGB6', 'SCN3A', 'SCN2A', 'GALNT3', 'SCN1A', 'SCN9A', 'ABCB11', 'LRP2', 'SLC25A12', 'ITGA6', 'CHRNA1', 'ATP5MC3', 'SLC40A1', 'PGAP1', 'NDUFB3', 'TMEM237', 'BMPR2', 'CTLA4', 'PTH2R', 'UNC80', 'ERBB4', 'ABCA12', 'CXCR2', 'CXCR1', 'BCS1L', 'ABCB6', 'EPHA4', 'SLC19A3', 'ECEL1', 'CHRND', 'CHRNG', 'ACKR3', 'GAL3ST2', 'ITPR1', 'GRM7', 'JAGN1', 'ATP2B2', 'SLC6A1', 'TMEM43', 'SLC6A6', 'TGFBR2', 'ACVR2B', 'SCN5A', 'SCN10A', 'SCN11A', 'CX3CR1', 'SLC25A38', 'POMGNT2', 'ANO10', 'TMIE', 'PTH1R', 'CELSR3', 'SLC25A20', 'P4HTM', 'USP19', 'MST1R', 'CACNA2D2', 'TLR9', 'RFT1', 'CACNA1D', 'IL17RD', 'SLC25A26', 'ROBO1', 'IMPG2', 'NECTIN3', 'ILDR1', 'CASR', 'ADCY5', 'PLXNA1', 'SEC61A1', 'GP9', 'RHO', 'ATP2C1', 'SLCO2A1', 'AGTR1', 'RNF13', 'MME', 'SLC33A1', 'SI', 'SLC7A14', 'SLC2A2', 'GHSR', 'DNAJC19', 'ALG3', 'CLCN2', 'CLDN16', 'OPA1', 'ATP13A3', 'NRROS', 'PIGG', 'FGFR3', 'LETM1', 'EVC2', 'SLC2A9', 'PROM1', 'TAPT1', 'SLC34A2', 'TLR1', 'SLC30A9', 'GABRA2', 'GABRB1', 'CORIN', 'SGCB', 'PDGFRA', 'KIT', 'KDR', 'TMEM165', 'TECRL', 'EPHA5', 'GNRHR', 'SLC4A4', 'SCARB2', 'FRAS1', 'ANTXR2', 'SCD5', 'COQ2', 'PKD2', 'GRID2', 'BMPR1B', 'SLC39A8', 'TACR3', 'CYP2U1', 'COL25A1', 'LRIT3', 'EGF', 'ZGRF1', 'TRPC3', 'KIAA1109', 'FAT4', 'MFSD8', 'CLGN', 'SLC10A7', 'EDNRA', 'LRBA', 'LRAT', 'ASIC5', 'GLRB', 'GRIA2', 'MSMO1', 'CLCN3', 'TENM3', 'SLC25A4', 'CYP4V2', 'FAT1', 'SLC9A3', 'SLC6A19', 'SLC6A3', 'ANKH', 'NPR3', 'PRLR', 'IL7R', 'LMBRD2', 'SLC1A3', 'CPLANE1', 'LIFR', 'OSMR', 'GHR', 'NNT', 'HCN1', 'IL31RA', 'IL6ST', 'OCLN', 'ADGRV1', 'SLC25A46', 'KCNN2', 'MEGF10', 'SLC12A2', 'SLC22A5', 'UQCRQ', 'REEP2', 'STING1', 'PCDH1', 'SLC26A2', 'PDGFRB', 'NDST1', 'GLRA1', 'GRIA1', 'SGCD', 'NIPAL4', 'GABRB2', 'GABRA1', 'GABRG2', 'ERGIC1', 'FGFR4', 'SLC34A1', 'B4GALT7', 'GRM6', 'FLT4', 'GCNT2', 'HFE', 'MOG', 'TNF', 'ABHD16A', 'SLC44A4', 'TAP1', 'SLC39A7', 'LEMD2', 'LHFPL5', 'SLC26A8', 'KCNK17', 'TREM2', 'PRPH2', 'RHAG', 'PKHD1', 'ELOVL5', 'ADGRB3', 'KCNQ5', 'SLC17A5', 'ELOVL4', 'SNX14', 'SLC35A1', 'GRIK2', 'BVES', 'SEC63', 'DSE', 'ROS1', 'NUS1', 'GJA1', 'TRDN', 'ENPP1', 'STX7', 'PERP', 'ADGRG6', 'PEX3', 'GRM1', 'IYD', 'SYNE1', 'PNLDC1', 'IGF2R', 'MPC1', 'ERMARD', 'INTS1', 'LFNG', 'KDELR2', 'TMEM106B', 'AQP1', 'GHRHR', 'PKD1L1', 'EGFR', 'DNAJC30', 'STX1A', 'POR', 'ZP3', 'CD36', 'ABCB4', 'ABCB1', 'SLC25A13', 'CYP3A4', 'TFR2', 'EPHB4', 'SLC26A5', 'SLC26A4', 'SLC26A3', 'NRCAM', 'MET', 'CFTR', 'KCND2', 'TSPAN12', 'SMO', 'MEST', 'ATP6V0A4', 'KIAA1549', 'TBXAS1', 'TRPV6', 'CLCN1', 'CNTNAP2', 'KCNH2', 'SLC4A2', 'DPP6', 'CLN8', 'TUSC3', 'MSR1', 'CSGALNACT1', 'SLC39A14', 'CHRNA2', 'EXTL3', 'ERLIN2', 'FGFR1', 'ADAM9', 'SLC20A2', 'RNF170', 'POMK', 'HGSNAT', 'ASPH', 'CYP7B1', 'TMEM70', 'GDAP1', 'PEX2', 'CNGB3', 'TMEM67', 'PTDSS1', 'FZD6', 'SLC25A32', 'TRHR', 'EXT1', 'KCNQ3', 'KCNK9', 'GPAA1', 'CYC1', 'DGAT1', 'SLC52A2', 'SLC39A4', 'VLDLR', 'KCNV2', 'SLC1A1', 'TYRP1', 'TEK', 'MYORG', 'SIGMAR1', 'PIGO', 'NPR2', 'TRPM3', 'CEMIP2', 'TMC1', 'TRPM6', 'NTRK2', 'ROR2', 'SPTLC1', 'PTCH1', 'GABBR2', 'GALNT12', 'TGFBR1', 'ALG2', 'ABCA1', 'FKTN', 'MUSK', 'CRB2', 'ENG', 'DPM2', 'SLC25A25', 'SLC27A4', 'POMT1', 'SURF1', 'MYMK', 'DBH', 'KCNT1', 'NOTCH1', 'AGPAT2', 'MAN1B1', 'GRIN1', 'SLC34A3', 'IL2RA', 'ITGA8', 'YME1L1', 'RET', 'PCDH15', 'SLC25A16', 'COL13A1', 'SGPL1', 'SLC29A3', 'CDH23', 'CHST3', 'KCNMA1', 'CDHR1', 'BMPR1A', 'FAS', 'SLC16A12', 'MYOF', 'TCTN3', 'COX15', 'ABCC2', 'ERLIN1', 'NDUFB8', 'CNNM2', 'CALHM1', 'COL17A1', 'SLC18A2', 'FGFR2', 'IFITM5', 'SLC25A22', 'PNPLA2', 'KCNQ1', 'SLC22A18', 'PGAP2', 'STIM1', 'DCHS1', 'FAR1', 'KCNJ11', 'ABCC8', 'KCNC1', 'SLC6A5', 'ANO5', 'ANO3', 'LGR4', 'SLC1A2', 'EXT2', 'SLC35C1', 'PEX16', 'CREB3L1', 'LRP4', 'PTPRJ', 'MPEG1', 'ZP1', 'TMEM138', 'TMEM216', 'MYRF', 'BEST1', 'B3GAT3', 'ATL3', 'SLC22A12', 'TCIRG1', 'LRP5', 'CPT1A', 'DHCR7', 'RELT', 'UCP3', 'LRRC32', 'B3GNT6', 'ALG8', 'TENM4', 'TMEM126B', 'TYR', 'HEPHL1', 'PANX1', 'TRPC6', 'GRIA4', 'ALG9', 'DSCAML1', 'IL10RA', 'SCN4B', 'SCN2B', 'CD3G', 'SLC37A4', 'DPAGT1', 'SC5D', 'SORL1', 'CLMP', 'SCN3B', 'ROBO3', 'HEPACAM', 'STT3A', 'FOXRED1', 'KIRREL3', 'KCNJ1', 'KCNJ5', 'ST14', 'JAM3', 'CACNA1C', 'KCNA1', 'KCNA5', 'TNFRSF1A', 'SCNN1A', 'CD4', 'LRP6', 'GRIN2B', 'PDE3A', 'ABCC9', 'ITPR2', 'ADCY6', 'LMBR1L', 'AQP2', 'AQP5', 'COX14', 'SLC11A2', 'SCN8A', 'ACVRL1', 'ACVR1B', 'AMHR2', 'NCKAP1L', 'ERBB3', 'SLC39A5', 'MIP', 'LRP1', 'B4GALNT1', 'DPY19L2', 'LEMD3', 'SYT1', 'PTPRQ', 'TMTC3', 'KITLG', 'ATP2B1', 'SLC25A3', 'SLC17A8', 'GNPTAB', 'TRPV4', 'ATP2A2', 'ORAI1', 'TCTN2', 'ATP6V0A2', 'ANKLE2', 'GJA3', 'GJB2', 'GJB6', 'SGCG', 'ATP8A2', 'FLT3', 'B3GLCT', 'KL', 'FREM2', 'SLC25A15', 'TNFSF11', 'ITM2B', 'ATP7B', 'ALG11', 'THSD1', 'CLN5', 'SLITRK6', 'SLITRK5', 'DCT', 'CLDN10', 'NALCN', 'SLC10A2', 'ATP11A', 'OXA1L', 'MMP14', 'SLC7A8', 'SLC25A21', 'MGAT2', 'ATL1', 'TMEM260', 'KCNH5', 'SYNE2', 'FUT8', 'PSEN1', 'ABCD4', 'FLVCR2', 'POMT2', 'SPTLC2', 'NRXN3', 'TSHR', 'GPR68', 'SLC24A4', 'TMEM251', 'AMN', 'JAG2', 'NIPA1', 'NIPA2', 'GABRB3', 'GABRA5', 'OCA2', 'TRPM1', 'RYR3', 'SLC12A6', 'CHST14', 'DLL4', 'CDAN1', 'DUOX2', 'DUOXA2', 'SLC12A1', 'TRPM7', 'GLDN', 'PIGB', 'ADAM10', 'SLC24A1', 'CLN6', 'MYO9A', 'HCN4', 'SCAMP5', 'CHRNA3', 'CHRNB4', 'IGF1R', 'CERS3', 'CHSY1', 'PIGQ', 'CACNA1H', 'CLCN7', 'HS3ST6', 'PKD1', 'ABCA3', 'ALG1', 'GRIN2A', 'EMP2', 'ABCC1', 'ABCC6', 'XYLT1', 'ZP2', 'SCNN1B', 'IL4R', 'CLN3', 'ATP2A1', 'PRRT2', 'TLCD3B', 'HSD3B7', 'STX1B', 'VKORC1', 'COX6A2', 'SLC5A2', 'SLC6A2', 'SLC12A3', 'ADGRG1', 'CNGB1', 'CDH11', 'CDH3', 'CDH1', 'DHODH', 'FA2H', 'CHST6', 'TMEM231', 'SLC38A8', 'MBTPS1', 'COX4I1', 'PIEZO1', 'SPG7', 'MC1R', 'TRPV3', 'CTNS', 'CHRNE', 'GP1BA', 'SLC25A11', 'SLC52A1', 'SLC13A5', 'CHRNB1', 'MPDU1', 'GUCY2D', 'VAMP2', 'TMEM107', 'SCO1', 'COX10', 'PMP22', 'PIGL', 'TNFRSF13B', 'SREBF1', 'ALDH3A2', 'KCNJ18', 'TMEM199', 'SLC46A1', 'PIGS', 'TMEM132E', 'PEX12', 'GPR179', 'PGAP3', 'ERBB2', 'CNTNAP1', 'COA3', 'G6PC3', 'SLC4A1', 'ITGA2B', 'FZD2', 'ITGB3', 'ITGA3', 'SGCA', 'XYLT2', 'CACNA1G', 'DGKE', 'CYB561', 'ACE', 'SCN4A', 'KCNJ2', 'SLC25A19', 'ITGB4', 'SLC25A10', 'GCGR', 'CYBC1', 'APCDD1', 'PIEZO2', 'AFG3L2', 'MC2R', 'GREB1L', 'NPC1', 'AQP4', 'CDH2', 'DSC2', 'DSG1', 'DSG2', 'SLC14A1', 'IER3IP1', 'DCC', 'ATP8B1', 'LMAN1', 'MC4R', 'PIGN', 'TNFRSF11A', 'KDSR', 'CYB5A', 'HCN2', 'KISS1R', 'REEP6', 'TBXA2R', 'CREB3L3', 'SEMA6B', 'PTPRS', 'CD70', 'INSR', 'MCOLN1', 'PNPLA6', 'PET100', 'S1PR2', 'LDLR', 'CACNA1A', 'TECR', 'ADGRE2', 'NOTCH3', 'CYP4F22', 'PLVAP', 'SLC5A5', 'IL12RB1', 'SLC25A42', 'NDUFA13', 'UQCRFS1', 'SLC7A9', 'SCN1B', 'MAG', 'PSENEN', 'NPHS1', 'SPINT2', 'YIF1B', 'RYR1', 'LRFN1', 'TIMM50', 'DLL3', 'COQ8B', 'AXL', 'CD79A', 'ATP1A3', 'MEGF8', 'KCNN4', 'RTN2', 'FKRP', 'GRIN2D', 'FUT1', 'BAX', 'TRPM4', 'CPT1C', 'KCNC3', 'ACP4', 'LIM2', 'CACNG7', 'MBOAT7', 'GP6', 'SLC52A3', 'SLC4A11', 'PROKR2', 'JAG1', 'SPTLC3', 'THBD', 'ABHD12', 'XKR7', 'SUN5', 'SLC32A1', 'PTPRT', 'JPH2', 'FITM2', 'PIGT', 'SLC12A5', 'CD40', 'SLC13A3', 'SLC2A10', 'KCNB1', 'PTGIS', 'VAPB', 'CDH4', 'SLC17A9', 'CHRNA4', 'KCNQ2', 'JAM2', 'APP', 'MRAP', 'IFNGR2', 'KCNE2', 'KCNE1', 'PIGP', 'DSCAM', 'TMPRSS3', 'ICOSLG', 'ITGB2', 'SLC19A1', 'IL17RA', 'PEX26', 'SLC25A1', 'SCARF2', 'KREMEN1', 'PISD', 'SLC5A1', 'LARGE1', 'CACNG2', 'TMPRSS6', 'PLA2G6', 'CACNA1I', 'A4GALT', 'ALG12', 'CSF2RA', 'P2RY8', 'NLGN4X', 'GPR143', 'CLCN4', 'TLR7', 'GLRA2', 'PIGA', 'MBTPS2', 'PHEX', 'PTCHD1', 'APOO', 'IL1RAPL1', 'XK', 'CYBB', 'ATP6AP2', 'MAOA', 'SLC9A7', 'NDUFB11', 'PORCN', 'SLC35A2', 'KCND1', 'SYP', 'CACNA1F', 'CLCN5', 'EFNB1', 'EDA', 'SLC7A3', 'IL2RG', 'NLGN3', 'GJB1', 'SLC16A2', 'ABCB7', 'ZDHHC15', 'MAGT1', 'ATP7A', 'PCDH19', 'CLDN2', 'ACSL4', 'PGRMC1', 'NDUFA1', 'LAMP2', 'GRIA3', 'TENM1', 'ZDHHC9', 'IGSF1', 'HS6ST2', 'SLC9A6', 'CD40LG', 'ATP11C', 'VMA21', 'GABRA3', 'NSDHL', 'ATP2B3', 'SLC6A8', 'ABCD1', 'L1CAM', 'AVPR2', 'OPN1LW', 'OPN1MW', 'EMD', 'ATP6AP1', 'PLXNA3', 'CLIC2']

In [5]:
gene_name = []
for a in res:
    y=get_uniprot(query=a ,query_type='GENENAME')
    for line in y:
        if line.startswith('ID   '):
            gene_name.append(a+':'+line)
#print(gene_name)

In [6]:
df_gene_name =  pd.DataFrame (gene_name, columns = ['GN'])
df_gene_name

                                                     GN
0     TNFRSF4:ID   TNR4_HUMAN              Reviewed;...
1     TNFRSF4:ID   A0A024R0B2_HUMAN        Unreviewe...
2     B3GALT6:ID   B3GT6_HUMAN             Reviewed;...
3     B3GALT6:ID   Q499Z2_HUMAN            Unreviewe...
4     MXRA8:ID   MXRA8_HUMAN             Reviewed;  ...
...                                                 ...
7407  PLXNA3:ID   PLXA3_HUMAN             Reviewed; ...
7408  PLXNA3:ID   L8ECH0_HUMAN            Unreviewed...
7409  CLIC2:ID   CLIC2_HUMAN             Reviewed;  ...
7410  CLIC2:ID   A6PVS0_HUMAN            Unreviewed;...
7411  CLIC2:ID   Q86YM0_HUMAN            Unreviewed;...

[7412 rows x 1 columns]

In [7]:
df_gene_name[['GN', 'ID']] = df_gene_name['GN'].str.split(':', 1, expand=True)
df_gene_name

           GN                                                 ID
0     TNFRSF4  ID   TNR4_HUMAN              Reviewed;        ...
1     TNFRSF4  ID   A0A024R0B2_HUMAN        Unreviewed;      ...
2     B3GALT6  ID   B3GT6_HUMAN             Reviewed;        ...
3     B3GALT6  ID   Q499Z2_HUMAN            Unreviewed;      ...
4       MXRA8  ID   MXRA8_HUMAN             Reviewed;        ...
...       ...                                                ...
7407   PLXNA3  ID   PLXA3_HUMAN             Reviewed;        ...
7408   PLXNA3  ID   L8ECH0_HUMAN            Unreviewed;      ...
7409    CLIC2  ID   CLIC2_HUMAN             Reviewed;        ...
7410    CLIC2  ID   A6PVS0_HUMAN            Unreviewed;      ...
7411    CLIC2  ID   Q86YM0_HUMAN            Unreviewed;      ...

[7412 rows x 2 columns]

In [8]:
df_gene_name['ID'] = df_gene_name['ID'].str.split(' ').str[3]
df_gene_name

           GN                ID
0     TNFRSF4        TNR4_HUMAN
1     TNFRSF4  A0A024R0B2_HUMAN
2     B3GALT6       B3GT6_HUMAN
3     B3GALT6      Q499Z2_HUMAN
4       MXRA8       MXRA8_HUMAN
...       ...               ...
7407   PLXNA3       PLXA3_HUMAN
7408   PLXNA3      L8ECH0_HUMAN
7409    CLIC2       CLIC2_HUMAN
7410    CLIC2      A6PVS0_HUMAN
7411    CLIC2      Q86YM0_HUMAN

[7412 rows x 2 columns]

In [9]:
df_gene_name = df_gene_name.drop_duplicates()
df_gene_name

           GN                ID
0     TNFRSF4        TNR4_HUMAN
1     TNFRSF4  A0A024R0B2_HUMAN
2     B3GALT6       B3GT6_HUMAN
3     B3GALT6      Q499Z2_HUMAN
4       MXRA8       MXRA8_HUMAN
...       ...               ...
7407   PLXNA3       PLXA3_HUMAN
7408   PLXNA3      L8ECH0_HUMAN
7409    CLIC2       CLIC2_HUMAN
7410    CLIC2      A6PVS0_HUMAN
7411    CLIC2      Q86YM0_HUMAN

[7412 rows x 2 columns]

In [10]:
df_gene_name['ID'] = df_gene_name.groupby(['GN'])['ID'].transform(lambda x : ' '.join(x))
df_gene_name = df_gene_name.drop_duplicates()
df_gene_name

           GN                                                 ID
0     TNFRSF4                        TNR4_HUMAN A0A024R0B2_HUMAN
2     B3GALT6                           B3GT6_HUMAN Q499Z2_HUMAN
4       MXRA8                       MXRA8_HUMAN A0A024R0A0_HUMAN
6      ATAD3A              ATD3A_HUMAN H0Y2W2_HUMAN Q5SV16_HUMAN
9     TMEM240                       TM240_HUMAN A0A096LNN7_HUMAN
...       ...                                                ...
7387   OPN1MW  OPSG_HUMAN B2RU31_HUMAN B7ZLG5_HUMAN H0Y642_HUMAN
7391      EMD  EMD_HUMAN A0A804HIG7_HUMAN A0A804HIV7_HUMAN A0...
7397  ATP6AP1  VAS1_HUMAN A0A0C4DGX8_HUMAN A0A7I2V2G3_HUMAN A...
7407   PLXNA3                           PLXA3_HUMAN L8ECH0_HUMAN
7409    CLIC2              CLIC2_HUMAN A6PVS0_HUMAN Q86YM0_HUMAN

[983 rows x 2 columns]

In [11]:
df_gene_name.to_csv('TM_gnomad+GN_nonPatho_missense.txt', header=True, index=False, sep='\t', mode='a')

In [12]:
df_aux = pd.read_csv("TM_gnomad+GN_nonPatho_missense.txt", sep="\t", header=0)
df_aux = df_aux.rename(columns={"GN":"Gene(s)"})
df_aux

     Gene(s)                                                 ID
0    TNFRSF4                        TNR4_HUMAN A0A024R0B2_HUMAN
1    B3GALT6                           B3GT6_HUMAN Q499Z2_HUMAN
2      MXRA8                       MXRA8_HUMAN A0A024R0A0_HUMAN
3     ATAD3A              ATD3A_HUMAN H0Y2W2_HUMAN Q5SV16_HUMAN
4    TMEM240                       TM240_HUMAN A0A096LNN7_HUMAN
..       ...                                                ...
978   OPN1MW  OPSG_HUMAN B2RU31_HUMAN B7ZLG5_HUMAN H0Y642_HUMAN
979      EMD  EMD_HUMAN A0A804HIG7_HUMAN A0A804HIV7_HUMAN A0...
980  ATP6AP1  VAS1_HUMAN A0A0C4DGX8_HUMAN A0A7I2V2G3_HUMAN A...
981   PLXNA3                           PLXA3_HUMAN L8ECH0_HUMAN
982    CLIC2              CLIC2_HUMAN A6PVS0_HUMAN Q86YM0_HUMAN

[983 rows x 2 columns]

In [13]:
result = df.merge(df_aux, on='Gene(s)', how='outer')
result

,Gene(s),position,initial_aa,final_aa,Transmembrane_Regions_new,Pfam_code,ID
0,TNFRSF4,229.0,Gly,Gly,"[['215', '235']]",PF00020,TNR4_HUMAN A0A024R0B2_HUMAN
1,TNFRSF4,228.0,Leu,Leu,"[['215', '235']]",PF00020,TNR4_HUMAN A0A024R0B2_HUMAN
2,TNFRSF4,226.0,Gly,Ala,"[['215', '235']]",PF00020,TNR4_HUMAN A0A024R0B2_HUMAN
3,TNFRSF4,223.0,Leu,Pro,"[['215', '235']]",PF00020,TNR4_HUMAN A0A024R0B2_HUMAN
4,TNFRSF4,223.0,Leu,Val,"[['215', '235']]",PF00020,TNR4_HUMAN A0A024R0B2_HUMAN
...,...,...,...,...,...,...,...
45968,PLXNA3,1238.0,Val,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960,PLXA3_HUMAN L8ECH0_HUMAN
45969,PLXNA3,1241.0,Ala,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960,PLXA3_HUMAN L8ECH0_HUMAN
45970,PLXNA3,1241.0,Ala,Ala,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960,PLXA3_HUMAN L8ECH0_HUMAN
45971,CLIC2,41.0,Trp,Ser,"[['32', '52']]",PF13409,CLIC2_HUMAN A6PVS0_HUMAN Q86YM0_HUMAN
45972,CLIC2,40.0,Leu,Leu,"[['32', '52']]",PF13409,CLIC2_HUMAN A6PVS0_HUMAN Q86YM0_HUMAN

In [14]:
result.to_csv('TM_gnomad+GN(final)_nonPatho_missense.txt', header=True, index=False, sep='\t', mode='a')