In [17]:
import pandas as pd

In [18]:
################################################################################################################################
####################################################GNOMAD SEQUENCE VARIANTS####################################################
################################################################################################################################

In [22]:
df_gnomad=pd.read_csv('all.csv', delimiter=',')
df_gnomad = df_gnomad[0:3773285]
df_gnomad = df_gnomad.drop_duplicates()
df_gnomad

C:\Users\sergi\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0,1,6,10,13,14,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Chromosome,Position,rsIDs,Reference,Alternate,Source,Filters - exomes,Filters - genomes,Transcript,HGVS Consequence,...,Homozygote Count South Asian,Hemizygote Count South Asian,Allele Count Ashkenazi Jewish,Allele Number Ashkenazi Jewish,Homozygote Count Ashkenazi Jewish,Hemizygote Count Ashkenazi Jewish,Allele Count European (non-Finnish),Allele Number European (non-Finnish),Homozygote Count European (non-Finnish),Hemizygote Count European (non-Finnish)
0,X,100630730,rs1362113932,A,G,gnomAD Genomes,NaN,PASS,ENST00000373020.9,c.*39+29T>C,...,0,0,0,2646,0,0,0,53181,0,0
1,X,100630732,rs377566575,C,T,gnomAD Genomes,NaN,PASS,ENST00000373020.9,c.*39+27G>A,...,0,0,0,2647,0,0,0,53177,0,0
2,X,100630739,NaN,G,A,gnomAD Genomes,NaN,PASS,ENST00000373020.9,c.*39+20C>T,...,0,0,0,2655,0,0,1,53180,0,0
3,X,100630755,rs780011498,G,T,gnomAD Genomes,NaN,PASS,ENST00000373020.9,c.*39+4C>A,...,0,0,0,2650,0,0,1,53180,0,0
4,X,100630765,rs1440874256,G,A,gnomAD Genomes,NaN,PASS,ENST00000373020.9,c.*33C>T,...,0,0,0,2651,0,0,1,53237,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773280,8,52940949,rs1310026617,A,G,gnomAD Genomes,NaN,PASS,ENST00000674939.1,c.*55A>G,...,0,0,0,3458,0,0,1,67718,0,0
3773281,8,52940954,rs909051648,G,A,gnomAD Genomes,NaN,PASS,ENST00000674939.1,c.*60G>A,...,0,0,0,3470,0,0,0,68026,0,0
3773282,8,52940955,rs1045936734,C,A,gnomAD Genomes,NaN,PASS,ENST00000674939.1,c.*61C>A,...,0,0,0,3470,0,0,2,68016,0,0
3773283,8,52940964,rs561019085,G,A,gnomAD Genomes,NaN,PASS,ENST00000674939.1,c.*70G>A,...,0,0,0,3472,0,0,0,68022,0,0
3773284,8,52940966,rs79536146,G,A,gnomAD Genomes,NaN,PASS,ENST00000674939.1,c.*72G>A,...,40,0,667,3472,61,0,10308,67984,760,0

In [23]:
df_gnomad_c = df_gnomad[['Transcript', 'HGVS Consequence']]
df_gnomad_c = df_gnomad_c.dropna()
df_gnomad_c

                Transcript HGVS Consequence
0        ENST00000373020.9      c.*39+29T>C
1        ENST00000373020.9      c.*39+27G>A
2        ENST00000373020.9      c.*39+20C>T
3        ENST00000373020.9       c.*39+4C>A
4        ENST00000373020.9         c.*33C>T
...                    ...              ...
3773280  ENST00000674939.1         c.*55A>G
3773281  ENST00000674939.1         c.*60G>A
3773282  ENST00000674939.1         c.*61C>A
3773283  ENST00000674939.1         c.*70G>A
3773284  ENST00000674939.1         c.*72G>A

[3767975 rows x 2 columns]

In [39]:
#NAS
1047331-1045086

2245

In [24]:
# Zona intronica = spicesite
print(df_gnomad_c[df_gnomad_c['HGVS Consequence'].str.contains('-')])
print(df_gnomad_c[df_gnomad_c['HGVS Consequence'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(df_gnomad_c[df_gnomad_c['HGVS Consequence'].str.contains('fs')])

#Truncations
print(df_gnomad_c[df_gnomad_c['HGVS Consequence'].str.contains('Ter')])

                Transcript HGVS Consequence
18       ENST00000373020.9      c.670-16C>G
19       ENST00000373020.9      c.670-19G>T
20       ENST00000373020.9      c.670-31G>A
21       ENST00000373020.9      c.670-33A>G
22       ENST00000373020.9      c.670-39T>A
...                    ...              ...
3772973  ENST00000674939.1         c.-12G>A
3772974  ENST00000674939.1          c.-7C>A
3772975  ENST00000674939.1          c.-6dup
3772976  ENST00000674939.1          c.-7C>G
3772977  ENST00000674939.1          c.-6G>A

[949758 rows x 2 columns]
                Transcript      HGVS Consequence
0        ENST00000373020.9           c.*39+29T>C
1        ENST00000373020.9           c.*39+27G>A
2        ENST00000373020.9           c.*39+20C>T
3        ENST00000373020.9            c.*39+4C>A
28       ENST00000373020.9  c.669+484_669+487del
...                    ...                   ...
3772811  ENST00000644544.1           c.112+35G>A
3772828  ENST00000453407.7           c.*39+29A>G
3772829  ENST00000453407.7           c.*39+25T>C
3772830  ENST00000453407.7           c.*39+10del
3772831  ENST00000453407.7           c.*39+10G>T

[845726 rows x 2 columns]
                Transcript     HGVS Consequence
129      ENST00000373020.9    p.Phe122LeufsTer9
155      ENST00000373020.9    p.Leu99ArgfsTer18
230      ENST00000373020.9    p.Lys11SerfsTer43
233      ENST00000373020.9      p.Gln9AspfsTer2
234      ENST00000373020.9      p.Leu8AlafsTer3
...                    ...                  ...
3773024  ENST00000674939.1     p.Leu36GlnfsTer6
3773114  ENST00000674939.1  p.Val158ArgfsTer204
3773121  ENST00000674939.1   p.Val162CysfsTer18
3773140  ENST00000674939.1   p.Val191SerfsTer59
3773231  ENST00000674939.1   p.Asn303ThrfsTer19

[49708 rows x 2 columns]
                Transcript    HGVS Consequence
9        ENST00000373020.9         p.Ter246Ter
10       ENST00000373020.9         p.Ile244Ter
129      ENST00000373020.9   p.Phe122LeufsTer9
155      ENST00000373020.9   p.Leu99ArgfsTer18
226      ENST00000373020.9          p.Tyr24Ter
...                    ...                 ...
3773121  ENST00000674939.1  p.Val162CysfsTer18
3773140  ENST00000674939.1  p.Val191SerfsTer59
3773148  ENST00000674939.1         p.Trp199Ter
3773205  ENST00000674939.1         p.Tyr267Ter
3773231  ENST00000674939.1  p.Asn303ThrfsTer19

[89313 rows x 2 columns]

In [41]:
################################################################################################################################
########################################GNOMAD Sequence variants in Membrane Proteins###########################################
################################################################################################################################

In [9]:
df_gnomad_1 =pd.read_csv('Match(Gnomad)_nonPatho_Pathogenic.txt', delimiter=' ')
df_gnomad_1 = df_gnomad_1.drop_duplicates()
df_gnomad_1 = df_gnomad_1.dropna()
df_gnomad_1

        Gene(s) HGVSConsequence
0       TNFRSF4        c.*69G>A
1       TNFRSF4        c.*67A>C
2       TNFRSF4        c.*63G>A
3       TNFRSF4        c.*62C>T
4       TNFRSF4        c.*52G>A
...         ...             ...
950584    CLIC2        c.-55A>G
950585    CLIC2        c.-58A>G
950586    CLIC2        c.-64G>T
950587    CLIC2    c.-66_-65del
950588    CLIC2        c.-74del

[949840 rows x 2 columns]

In [10]:
# Zona intronica = spicesite
print(df_gnomad_1[df_gnomad_1['HGVSConsequence'].str.contains('-')])
print(df_gnomad_1[df_gnomad_1['HGVSConsequence'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(df_gnomad_1[df_gnomad_1['HGVSConsequence'].str.contains('fs')])

#Truncations
print(df_gnomad_1[df_gnomad_1['HGVSConsequence'].str.contains('Ter')])

        Gene(s) HGVSConsequence
37      TNFRSF4      c.764-8C>T
38      TNFRSF4     c.764-11T>C
39      TNFRSF4     c.764-15T>C
40      TNFRSF4     c.764-16C>T
41      TNFRSF4     c.764-19C>T
...         ...             ...
950584    CLIC2        c.-55A>G
950585    CLIC2        c.-58A>G
950586    CLIC2        c.-64G>T
950587    CLIC2    c.-66_-65del
950588    CLIC2        c.-74del

[255039 rows x 2 columns]
        Gene(s) HGVSConsequence
47      TNFRSF4     c.763+37G>A
48      TNFRSF4     c.763+36C>T
49      TNFRSF4     c.763+36C>A
50      TNFRSF4     c.763+35G>C
51      TNFRSF4     c.763+33T>C
...         ...             ...
950566    CLIC2      c.57+37del
950567    CLIC2      c.57+34A>G
950568    CLIC2      c.57+12A>T
950569    CLIC2      c.57+10C>T
950570    CLIC2       c.57+5G>A

[229152 rows x 2 columns]
        Gene(s)     HGVSConsequence
64      TNFRSF4   p.Asp249MetfsTer?
135     TNFRSF4   p.Pro183ArgfsTer?
146     TNFRSF4  p.Ala173SerfsTer21
573     B3GALT6   p.Leu21CysfsTer55
592     B3GALT6   p.Ala41ArgfsTer35
...         ...                 ...
949254   PLXNA3   p.Val549CysfsTer3
949552   PLXNA3  p.Ala799ValfsTer32
950229   PLXNA3  p.Leu1631TrpfsTer2
950245   PLXNA3  p.Leu1659GlyfsTer9
950479    CLIC2  p.Asn151ProfsTer28

[9264 rows x 2 columns]
        Gene(s)     HGVSConsequence
64      TNFRSF4   p.Asp249MetfsTer?
135     TNFRSF4   p.Pro183ArgfsTer?
146     TNFRSF4  p.Ala173SerfsTer21
320     TNFRSF4         p.Gln103Ter
494     TNFRSF4           p.Cys2Ter
...         ...                 ...
950229   PLXNA3  p.Leu1631TrpfsTer2
950245   PLXNA3  p.Leu1659GlyfsTer9
950419   PLXNA3        p.Ter1872Ter
950479    CLIC2  p.Asn151ProfsTer28
950501    CLIC2         p.Glu108Ter

[16566 rows x 2 columns]

In [ ]:
################################################################################################################################
######################################################CLINVAR TM segments#######################################################
################################################################################################################################

In [15]:
tm_gnomad =pd.read_csv('TM_gnomad_nonPatho_missense.csv', delimiter=',')
tm_gnomad = tm_gnomad.drop_duplicates()
tm_gnomad

,Unnamed: 0,Gene(s),position,initial_aa,final_aa,Transmembrane_Regions_new,Pfam_code
0,0,TNFRSF4,229.0,Gly,Gly,"[['215', '235']]",PF00020
1,1,TNFRSF4,228.0,Leu,Leu,"[['215', '235']]",PF00020
2,2,TNFRSF4,226.0,Gly,Ala,"[['215', '235']]",PF00020
3,3,TNFRSF4,223.0,Leu,Pro,"[['215', '235']]",PF00020
4,4,TNFRSF4,223.0,Leu,Val,"[['215', '235']]",PF00020
...,...,...,...,...,...,...,...
45968,45968,PLXNA3,1238.0,Val,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45969,45969,PLXNA3,1241.0,Ala,Val,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45970,45970,PLXNA3,1241.0,Ala,Ala,"[['1221', '1241']]",PF08337_PF01437_PF01403_PF01833_PF18020_PF17960
45971,45971,CLIC2,41.0,Trp,Ser,"[['32', '52']]",PF13409
45972,45972,CLIC2,40.0,Leu,Leu,"[['32', '52']]",PF13409

In [16]:
# Zona intronica = spicesite
print(tm_gnomad[tm_gnomad['final_aa'].str.contains('-')])
print(tm_gnomad[tm_gnomad['final_aa'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(tm_gnomad[tm_gnomad['final_aa'].str.contains('fs')])

#Truncations
print(tm_gnomad[tm_gnomad['final_aa'].str.contains('Ter')])

Empty DataFrame
Columns: [Unnamed: 0, Gene(s), position, initial_aa, final_aa, Transmembrane_Regions_new, Pfam_code]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, Gene(s), position, initial_aa, final_aa, Transmembrane_Regions_new, Pfam_code]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, Gene(s), position, initial_aa, final_aa, Transmembrane_Regions_new, Pfam_code]
Index: []
       Unnamed: 0  Gene(s)  position initial_aa final_aa  \
128           128   GPR153     142.0        Ser      Ter
183           183  SLC45A1     143.0        Trp      Ter
298           298  SLC45A1     637.0        Tyr      Ter
348           348  SLC45A1     749.0        Ter      Ter
393           393   UBIAD1     226.0        Glu      Ter
...           ...      ...       ...        ...      ...
45439       45439   HS6ST2      10.0        Glu      Ter
45713       45713   SLC6A8     101.0        Trp      Ter
45717       45717   SLC6A8     108.0        Gln      Ter
45733       45733   SLC6A8      77.0        Arg      Ter
45853       45853    AVPR2     287.0        Ser      Ter

                               Transmembrane_Regions_new Pfam_code
128    [['12', '32'], ['42', '62'], ['85', '105'], ['...   PF00001
183    [['127', '147'], ['157', '177'], ['189', '209'...   PF07690
298    [['127', '147'], ['157', '177'], ['189', '209'...   PF07690
348    [['127', '147'], ['157', '177'], ['189', '209'...   PF07690
393    [['83', '103'], ['134', '154'], ['160', '180']...   PF01040
...                                                  ...       ...
45439                                      [['5', '27']]   PF03567
45713  [['61', '81'], ['88', '108'], ['139', '159'], ...   PF00209
45717  [['61', '81'], ['88', '108'], ['139', '159'], ...   PF00209
45733  [['61', '81'], ['88', '108'], ['139', '159'], ...   PF00209
45853  [['39', '63'], ['78', '98'], ['114', '135'], [...   PF00001

[636 rows x 7 columns]

In [42]:
################################################################################################################################
####################################################CLINVAR SEQUENCE VARIANTS####################################################
################################################################################################################################

In [43]:
df_clinvar = pd.read_csv('clinvar_result (3).txt', delimiter='\t')
df_clinvar = df_clinvar.drop_duplicates()
df_clinvar

,Name,Gene(s),Protein change,Condition(s),Clinical significance (Last reviewed),Review status,Accession,GRCh37Chromosome,GRCh37Location,GRCh38Chromosome,GRCh38Location,VariationID,AlleleID(s),dbSNP ID,Canonical SPDI,Unnamed: 15
0,NM_001385641.1(SAMD11):c.2377C>T (p.Arg793Ter),SAMD11,"R630*, R793*, R794*",not provided,"Pathogenic(Last reviewed: Oct 20, 2021)","criteria provided, single submitter",VCV000950448,1,879375,1,943995,950448,929884,rs761448939,NC_000001.11:943994:C:T,NaN
1,NM_198317.3(KLHL17):c.1682C>A (p.Ala561Glu),KLHL17,A561E,Tracheoesophageal fistula,"Likely pathogenic(Last reviewed: Jul 1, 2019)",no assertion criteria provided,VCV000916564,1,899892,1,964512,916564,904889,rs756054473,NC_000001.11:964511:C:A,NaN
2,NM_005101.4(ISG15):c.4-1G>A,ISG15,NaN,Mendelian susceptibility to mycobacterial dise...,"Pathogenic(Last reviewed: Feb 21, 2020)","criteria provided, single submitter",VCV001028857,1,949363,1,1013983,1028857,1015460,rs1644247121,NC_000001.11:1013982:G:A,NaN
3,NM_005101.4(ISG15):c.163C>T (p.Gln55Ter),ISG15,Q55*,Mendelian susceptibility to mycobacterial dise...,"Pathogenic(Last reviewed: Jan 1, 2015)",no assertion criteria provided,VCV000183381,1,949523,1,1014143,183381,181485,rs786201005,NC_000001.11:1014142:C:T,NaN
4,NM_005101.4(ISG15):c.339dup (p.Leu114fs),ISG15,L114fs,Mendelian susceptibility to mycobacterial dise...,"Pathogenic(Last reviewed: Jan 1, 2015)",no assertion criteria provided,VCV000161455,1,949696 - 949697,1,1014316 - 1014317,161455,171289,rs672601345,NC_000001.11:1014316:GGG:GGGG,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170065,NM_000061.3(BTK):c.1908_1909insTTTTAG (p.Lys63...,BTK,NaN,X-linked agammaglobulinemia,"Pathogenic(Last reviewed: Oct 29, 2018)",no assertion criteria provided,VCV000011391,NaN,NaN,NaN,NaN,11391,26430,NaN,NaN,NaN
170066,NM_000074.3(CD40LG):c.349_409+2del,CD40LG,NaN,Hyper-IgM syndrome type 1,"Pathogenic(Last reviewed: Feb 11, 1993)",no assertion criteria provided,VCV000011165,NaN,NaN,NaN,NaN,11165,26204,NaN,NaN,NaN
170067,NM_000276.4(OCRL):c.2470_2581del (p.Val824Leuf...,OCRL,NaN,Lowe syndrome,"Pathogenic(Last reviewed: Apr 1, 1993)",no assertion criteria provided,VCV000010856,NaN,NaN,NaN,NaN,10856,25895,NaN,NaN,NaN
170068,NM_000216.4(ANOS1):c.544_726+2del,ANOS1,NaN,Hypogonadotropic hypogonadism 1 with or withou...,"Pathogenic(Last reviewed: Jun 1, 2002)",no assertion criteria provided,VCV000010009,NaN,NaN,NaN,NaN,10009,25048,NaN,NaN,NaN
170069,NM_001127649.3(PEX26):c.669_814+1del,PEX26,NaN,Peroxisome biogenesis disorder 7A (Zellweger),"Pathogenic(Last reviewed: Aug 1, 2003)",no assertion criteria provided,VCV000002155,NaN,NaN,NaN,NaN,2155,17194,NaN,NaN,NaN

In [44]:
df_clinvar_c = df_clinvar[['Gene(s)', 'Name']]
df_clinvar_c = df_clinvar_c.dropna()
df_clinvar_c

       Gene(s)                                               Name
0       SAMD11     NM_001385641.1(SAMD11):c.2377C>T (p.Arg793Ter)
1       KLHL17        NM_198317.3(KLHL17):c.1682C>A (p.Ala561Glu)
2        ISG15                        NM_005101.4(ISG15):c.4-1G>A
3        ISG15           NM_005101.4(ISG15):c.163C>T (p.Gln55Ter)
4        ISG15           NM_005101.4(ISG15):c.339dup (p.Leu114fs)
...        ...                                                ...
170065     BTK  NM_000061.3(BTK):c.1908_1909insTTTTAG (p.Lys63...
170066  CD40LG                 NM_000074.3(CD40LG):c.349_409+2del
170067    OCRL  NM_000276.4(OCRL):c.2470_2581del (p.Val824Leuf...
170068   ANOS1                  NM_000216.4(ANOS1):c.544_726+2del
170069   PEX26               NM_001127649.3(PEX26):c.669_814+1del

[170070 rows x 2 columns]

In [45]:
df_clinvar_c = df_clinvar_c['Name'].str.split(':', expand=True).add_prefix('B')
df_clinvar_c.drop('B2', axis=1, inplace=True)
df_clinvar_c.drop('B0', axis=1, inplace=True)
df_clinvar_c

                                                 B1
0                           c.2377C>T (p.Arg793Ter)
1                           c.1682C>A (p.Ala561Glu)
2                                          c.4-1G>A
3                             c.163C>T (p.Gln55Ter)
4                             c.339dup (p.Leu114fs)
...                                             ...
170065  c.1908_1909insTTTTAG (p.Lys637delinsPheTer)
170066                               c.349_409+2del
170067             c.2470_2581del (p.Val824Leufs*9)
170068                               c.544_726+2del
170069                               c.669_814+1del

[170070 rows x 1 columns]

In [46]:
df_clinvar_c = df_clinvar_c.dropna()
df_clinvar_c

                                                 B1
0                           c.2377C>T (p.Arg793Ter)
1                           c.1682C>A (p.Ala561Glu)
2                                          c.4-1G>A
3                             c.163C>T (p.Gln55Ter)
4                             c.339dup (p.Leu114fs)
...                                             ...
170065  c.1908_1909insTTTTAG (p.Lys637delinsPheTer)
170066                               c.349_409+2del
170067             c.2470_2581del (p.Val824Leufs*9)
170068                               c.544_726+2del
170069                               c.669_814+1del

[169998 rows x 1 columns]

In [47]:
#NAS
170070 - 169998

72

In [48]:
# Zona intronica = spicesite
print(df_clinvar_c[df_clinvar_c['B1'].str.contains('-')])
print(df_clinvar_c[df_clinvar_c['B1'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(df_clinvar_c[df_clinvar_c['B1'].str.contains('fs')])

#Truncations
print(df_clinvar_c[df_clinvar_c['B1'].str.contains('Ter')])

                        B1
2                 c.4-1G>A
30       c.4745-47_4753del
66             c.1715-1G>A
99             c.283-60del
103             c.964-1G>T
...                    ...
169812  c.671-50_787+50del
169818          c.671-2A>G
169828          c.602-2A>G
169879      c.-2_133+51del
169891          c.359-2A>G

[10962 rows x 1 columns]
                          B1
17       c.1177+4_1177+50del
25               c.3250+1G>A
97            c.281_282+1del
98      c.282+484_444+231del
100               c.384+1G>A
...                      ...
169890            c.638+2del
170064      c.3260_3366+1del
170066        c.349_409+2del
170068        c.544_726+2del
170069        c.669_814+1del

[13631 rows x 1 columns]
                                      B1
4                  c.339dup (p.Leu114fs)
8                  c.543dup (p.Val182fs)
9              c.574_578dup (p.Ser194fs)
10                 c.667dup (p.Leu223fs)
11             c.902_912del (p.Arg301fs)
...                                  ...
169896         c.364_367del (p.Glu122fs)
169900             c.324del (p.Phe109fs)
169903         c.290_291insC (p.Gln97fs)
169910              c.264dup (p.Glu89fs)
170067  c.2470_2581del (p.Val824Leufs*9)

[57049 rows x 1 columns]
                                                 B1
0                           c.2377C>T (p.Arg793Ter)
3                             c.163C>T (p.Gln55Ter)
5                            c.379G>T (p.Glu127Ter)
14                          c.1057C>T (p.Gln353Ter)
18                          c.1275C>G (p.Tyr425Ter)
...                                             ...
169914                        c.209G>A (p.Trp70Ter)
169919                        c.169C>T (p.Gln57Ter)
169922                          c.12T>A (p.Tyr4Ter)
169923                           c.4C>T (p.Gln2Ter)
170065  c.1908_1909insTTTTAG (p.Lys637delinsPheTer)

[41331 rows x 1 columns]

In [49]:
################################################################################################################################
########################################CLINVAR Sequence variants in Membrane Proteins##########################################
################################################################################################################################

In [63]:
df_clinvar_2 = pd.read_csv('Match(ClinVar)_(2).txt', delimiter=' ')
df_clinvar_2 = df_clinvar_2.drop_duplicates()
df_clinvar_2 = df_clinvar_2.reset_index()
df_clinvar_2 = df_clinvar_2.rename(columns={"index":"Gene(s)", "Gene(s)":"position", "position":"initial_aa", "initial_aa":"final_aa", "final_aa":"aaa"})
df_clinvar_2 = df_clinvar_2[['Gene(s)', 'position', 'initial_aa', 'final_aa']]
df_clinvar_2 = df_clinvar_2[['Gene(s)']]
df_clinvar_2 = df_clinvar_2.drop_duplicates()
df_clinvar_2

       Gene(s)
0      TNFRSF4
1      B3GALT6
25       MXRA8
26      ATAD3A
34     TMEM240
...        ...
26311  MT-ND4L
26313   MT-ND4
26315   MT-ND5
26327   MT-ND6
26337   MT-CYB

[1151 rows x 1 columns]

In [64]:
clinvar_res = pd.merge(df_clinvar, df_clinvar_2, on=['Gene(s)'])
clinvar_res

,Name,Gene(s),Protein change,Condition(s),Clinical significance (Last reviewed),Review status,Accession,GRCh37Chromosome,GRCh37Location,GRCh38Chromosome,GRCh38Location,VariationID,AlleleID(s),dbSNP ID,Canonical SPDI,Unnamed: 15
0,NM_003327.4(TNFRSF4):c.193C>T (p.Arg65Cys),TNFRSF4,R65C,Combined immunodeficiency due to OX40 deficiency,"Pathogenic(Last reviewed: Aug 26, 2013)",no assertion criteria provided,VCV000096692,1,1149118,1,1213738,96692,102585,rs587777075,NC_000001.11:1213737:G:A,NaN
1,NM_080605.4(B3GALT6):c.1A>G (p.Met1Val),B3GALT6,M1V,"Ehlers-Danlos syndrome, spondylodysplastic typ...","Pathogenic(Last reviewed: Oct 14, 2021)","criteria provided, multiple submitters, no con...",VCV000060484,1,1167659,1,1232279,60484,75079,rs786200938,NC_000001.11:1232278:A:G,NaN
2,NM_080605.4(B3GALT6):c.2T>C (p.Met1Thr),B3GALT6,M1T,"Ehlers-Danlos syndrome, spondylodysplastic typ...","Pathogenic(Last reviewed: Oct 11, 2021)","criteria provided, single submitter",VCV001452181,1,1167660,1,1232280,1452181,1438938,NaN,NC_000001.11:1232279:T:C,NaN
3,NM_080605.4(B3GALT6):c.2T>A (p.Met1Lys),B3GALT6,M1K,Spondyloepimetaphyseal dysplasia with joint la...,"Likely pathogenic(Last reviewed: Jul 14, 2021)","criteria provided, single submitter",VCV001067539,1,1167660,1,1232280,1067539,1054735,NaN,NC_000001.11:1232279:T:A,NaN
4,NM_080605.4(B3GALT6):c.16C>T (p.Arg6Trp),B3GALT6,R6W,"Ehlers-Danlos syndrome, spondylodysplastic typ...","Pathogenic(Last reviewed: Jun 6, 2013)",no assertion criteria provided,VCV000060493,1,1167674,1,1232294,60493,75088,rs397514722,NC_000001.11:1232293:C:T,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40166,NC_012920.1:m.15349C>A,MT-CYB,H201Q,Familial cancer of breast,Likely pathogenic,no assertion criteria provided,VCV000143884,MT,15349,MT,15349,143884,153609,rs527236201,NC_012920.1:15348:C:A,NaN
40167,NC_012920.1:m.15363A>G,MT-CYB,N206S,Neoplasm of ovary,Likely pathogenic,no assertion criteria provided,VCV000143887,MT,15363,MT,15363,143887,153612,rs527236182,NC_012920.1:15362:A:G,NaN
40168,m.15572T>C,MT-CYB,F276L,Familial colorectal cancer,"Pathogenic(Last reviewed: Nov 1, 1998)",no assertion criteria provided,VCV000009677,MT,15572,MT,15572,9677,24716,rs207459996,NC_012920.1:15571:T:C,NaN
40169,m.15579A>G,MT-CYB,Y278C,Multisystem disorder|Mitochondrial myopathy wi...,"Likely pathogenic(Last reviewed: Oct 17, 2019)","criteria provided, single submitter",VCV000009683,MT,15579,MT,15579,9683,24722,rs207460002,NC_012920.1:15578:A:G,NaN
40170,m.15615G>A,MT-CYB,G290D,Mitochondrial myopathy with reversible cytochr...,"Likely pathogenic(Last reviewed: Oct 17, 2019)","criteria provided, single submitter",VCV000009678,MT,15615,MT,15615,9678,24717,rs207459997,NC_012920.1:15614:G:A,NaN

In [65]:
clinvar_res = clinvar_res[['Gene(s)', 'Name']]
clinvar_res = clinvar_res.dropna()
clinvar_res

       Gene(s)                                        Name
0      TNFRSF4  NM_003327.4(TNFRSF4):c.193C>T (p.Arg65Cys)
1      B3GALT6     NM_080605.4(B3GALT6):c.1A>G (p.Met1Val)
2      B3GALT6     NM_080605.4(B3GALT6):c.2T>C (p.Met1Thr)
3      B3GALT6     NM_080605.4(B3GALT6):c.2T>A (p.Met1Lys)
4      B3GALT6    NM_080605.4(B3GALT6):c.16C>T (p.Arg6Trp)
...        ...                                         ...
40166   MT-CYB                      NC_012920.1:m.15349C>A
40167   MT-CYB                      NC_012920.1:m.15363A>G
40168   MT-CYB                                  m.15572T>C
40169   MT-CYB                                  m.15579A>G
40170   MT-CYB                                  m.15615G>A

[40171 rows x 2 columns]

In [66]:
clinvar_res = clinvar_res['Name'].str.split(':', expand=True).add_prefix('B')
#clinvar_res
# clinvar_res.drop('B2', axis=1, inplace=True)
clinvar_res.drop('B0', axis=1, inplace=True)
clinvar_res

                          B1
0      c.193C>T (p.Arg65Cys)
1         c.1A>G (p.Met1Val)
2         c.2T>C (p.Met1Thr)
3         c.2T>A (p.Met1Lys)
4        c.16C>T (p.Arg6Trp)
...                      ...
40166             m.15349C>A
40167             m.15363A>G
40168                   None
40169                   None
40170                   None

[40171 rows x 1 columns]

In [67]:
clinvar_res = clinvar_res.dropna()
clinvar_res

                          B1
0      c.193C>T (p.Arg65Cys)
1         c.1A>G (p.Met1Val)
2         c.2T>C (p.Met1Thr)
3         c.2T>A (p.Met1Lys)
4        c.16C>T (p.Arg6Trp)
...                      ...
40158             m.14753C>T
40160             m.14784T>C
40162             m.14891C>G
40166             m.15349C>A
40167             m.15363A>G

[40111 rows x 1 columns]

In [68]:
#NAs
40171-40111

60

In [70]:
# Zona intronica = spicesite
print(clinvar_res[clinvar_res['B1'].str.contains('-')])
print(clinvar_res[clinvar_res['B1'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(clinvar_res[clinvar_res['B1'].str.contains('fs')])

#Truncations
print(clinvar_res[clinvar_res['B1'].str.contains('Ter')])

                    B1
29         c.283-60del
33          c.964-1G>T
47          c.545-1G>A
78     c.312-16_314del
87      c.475-7_478del
...                ...
39902       c.401-1G>A
39961       c.911-2A>G
39987        c.83-2A>C
39988        c.83-2A>G
40008       c.266-2A>G

[2490 rows x 1 columns]
                         B1
27           c.281_282+1del
28     c.282+484_444+231del
30               c.384+1G>A
113              c.708+1G>A
140              c.970+1G>T
...                     ...
40002            c.187+1G>A
40003            c.187+1G>T
40007            c.265+2T>A
40011            c.399+1G>T
40015            c.449+1G>A

[3315 rows x 1 columns]
                               B1
6        c.201_210del (p.Arg68fs)
8            c.227del (p.Ile76fs)
10      c.323_344del (p.Ala108fs)
11          c.353del (p.Asp118fs)
15          c.588del (p.Arg197fs)
...                           ...
40033   c.640_644dup (p.Gln219fs)
40034   c.650_654dup (p.Gln219fs)
40035   c.650_654del (p.Leu217fs)
40036   c.674_678del (p.Leu225fs)
40037  c.703_704insA (p.Phe235fs)

[11157 rows x 1 columns]
                           B1
9       c.239G>A (p.Trp80Ter)
19     c.681C>G (p.Tyr227Ter)
20     c.763C>T (p.Gln255Ter)
31     c.490C>T (p.Gln164Ter)
32     c.928C>T (p.Arg310Ter)
...                       ...
40014  c.430G>T (p.Glu144Ter)
40018  c.483C>G (p.Tyr161Ter)
40019  c.484C>T (p.Gln162Ter)
40020  c.512C>A (p.Ser171Ter)
40027  c.600G>A (p.Trp200Ter)

[8804 rows x 1 columns]

In [ ]:
################################################################################################################################
######################################################CLINVAR TM segments#######################################################
################################################################################################################################

In [79]:
df_clinvar_3 = pd.read_csv('TM_clinvar_(2).csv', delimiter=',')
df_clinvar_3 = df_clinvar_3.drop_duplicates()
df_clinvar_3
# df_clinvar_3 = df_clinvar_3[['Gene(s)']]
# df_clinvar_3 = df_clinvar_3.drop_duplicates()
# df_clinvar_3

,Unnamed: 0,Gene(s),position,initial_aa,final_aa,Transmembrane_Regions_new,Pfam_code
0,0,ATAD3A,302.0,V,fs,"[['295', '312']]",PF00004_PF12037
1,1,TNFRSF9,193.0,A,fs,"[['187', '213']]",PF00020
2,2,UBIAD1,102.0,N,S,"[['83', '103'], ['134', '154'], ['160', '180']...",PF01040
3,3,UBIAD1,171.0,S,P,"[['83', '103'], ['134', '154'], ['160', '180']...",PF01040
4,4,UBIAD1,175.0,T,I,"[['83', '103'], ['134', '154'], ['160', '180']...",PF01040
...,...,...,...,...,...,...,...
5041,5041,MT-ND6,36.0,G,S,"[['1', '21'], ['26', '46'], ['47', '67'], ['86...",PF00499
5042,5042,MT-ND6,26.0,I,M,"[['1', '21'], ['26', '46'], ['47', '67'], ['86...",PF00499
5043,5043,MT-CYB,34.0,G,S,"[['33', '53'], ['77', '98'], ['113', '133'], [...",PF00032_PF00033
5044,5044,MT-CYB,49.0,L,V,"[['33', '53'], ['77', '98'], ['113', '133'], [...",PF00032_PF00033
5045,5045,MT-CYB,290.0,G,D,"[['33', '53'], ['77', '98'], ['113', '133'], [...",PF00032_PF00033

In [81]:
# Zona intronica = spicesite
print(df_clinvar_3[df_clinvar_3['final_aa'].str.contains('-')])
print(df_clinvar_3[df_clinvar_3['final_aa'].str.contains('\+')])



#################################
##########Conding Region########
################################
#Frameshift
print(df_clinvar_3[df_clinvar_3['final_aa'].str.contains('fs')])

#Truncations
print(df_clinvar_3[df_clinvar_3['final_aa'].str.contains('TER')])

Empty DataFrame
Columns: [Unnamed: 0, Gene(s), position, initial_aa, final_aa, Transmembrane_Regions_new, Pfam_code]
Index: []
Empty DataFrame
Columns: [Unnamed: 0, Gene(s), position, initial_aa, final_aa, Transmembrane_Regions_new, Pfam_code]
Index: []
      Unnamed: 0  Gene(s)  position initial_aa final_aa  \
0              0   ATAD3A     302.0          V       fs
1              1  TNFRSF9     193.0          A       fs
7              7     MFN2     614.0          T       fs
9              9  ATP13A2    1009.0          L       fs
11            11  ATP13A2    1007.0          F       fs
...          ...      ...       ...        ...      ...
5005        5005   MT-CO1     347.0          L       fs
5007        5007   MT-CO2      19.0          E       fs
5021        5021   MT-CO3      76.0          Q       fs
5027        5027   MT-ND4     288.0          Y       fs
5040        5040   MT-ND6      54.0          M       fs

                              Transmembrane_Regions_new        Pfam_code
0                                      [['295', '312']]  PF00004_PF12037
1                                      [['187', '213']]          PF00020
7                      [['605', '625'], ['627', '647']]  PF00350_PF04799
9     [['236', '253'], ['257', '276'], ['428', '448'...          PF12409
11    [['236', '253'], ['257', '276'], ['428', '448'...          PF12409
...                                                 ...              ...
5005  [['12', '40'], ['51', '86'], ['95', '117'], ['...          PF00115
5007                       [['15', '45'], ['60', '87']]  PF00116_PF02790
5021  [['16', '34'], ['41', '66'], ['73', '105'], ['...          PF00510
5027  [['22', '42'], ['60', '80'], ['102', '122'], [...  PF01059_PF00361
5040  [['1', '21'], ['26', '46'], ['47', '67'], ['86...          PF00499

[1321 rows x 7 columns]
      Unnamed: 0   Gene(s)  position initial_aa final_aa  \
8              8   ATP13A2    1135.0          Q      TER
12            12   ATP13A2    1002.0          E      TER
14            14   ATP13A2     444.0          R      TER
40            40     CSF3R     643.0          C      TER
46            46  ZMPSTE24     362.0          L      TER
...          ...       ...       ...        ...      ...
4994        4994    MT-CO1      81.0          W      TER
5003        5003    MT-CO1     343.0          G      TER
5018        5018   MT-ATP6     175.0          G      TER
5020        5020    MT-CO3      58.0          W      TER
5023        5023    MT-CO3     249.0          W      TER

                              Transmembrane_Regions_new        Pfam_code
8     [['236', '253'], ['257', '276'], ['428', '448'...          PF12409
12    [['236', '253'], ['257', '276'], ['428', '448'...          PF12409
14    [['236', '253'], ['257', '276'], ['428', '448'...          PF12409
40                                     [['628', '650']]  PF00041_PF06328
46    [['19', '39'], ['82', '102'], ['124', '144'], ...  PF01435_PF16491
...                                                 ...              ...
4994  [['12', '40'], ['51', '86'], ['95', '117'], ['...          PF00115
5003  [['12', '40'], ['51', '86'], ['95', '117'], ['...          PF00115
5018  [['6', '26'], ['68', '88'], ['97', '117'], ['1...          PF00119
5020  [['16', '34'], ['41', '66'], ['73', '105'], ['...          PF00510
5023  [['16', '34'], ['41', '66'], ['73', '105'], ['...          PF00510

[734 rows x 7 columns]